# Introduction to R-DataFrames

In this notebook we learn about the following things:

- The R-DataFrame Basics
- R-DataFrames Indexing and Slicing
- Overview of DataFrame Operations

So sit tight and lets enjoy the ride 🚘

# Table of Contents <a name="table"/>

1. [DataFrame Basics](#dataframe_basics)
    - [Head and Tail](#head_tail)
    - [Structure and Summary](#structure_summary)
    - [Creating a DataFrame](#dataframe_creation)
2. [Indexing and Selection](#indexing_selection)
    - [Indexing](#indexing)
    - [Selection](#selection)
3. [Overview of DataFrame Operations](#overview)
    - [Creating a DataFrame](#create_dataframe)
    - [Reading and Writing a DataFrame](#read_write)
    - [Getting the Information about the DataFrame](#info)
    - [Referencing Cells](#cell)
    - [Adding Rows](#add_rows)
    - [Adding Columns](#add_col)
    - [Dealing with Missing value](#miss_val)

# DataFrame Basics <a name="dataframe_basics"/>

[Jump to the Table of Contents](#table)

In [3]:
state.x77

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area
Alabama         50708
Alaska         566432
Arizona        113417
Arkansas        51945
California     156361
Colorado       103766
Connecticut      4862
Delaware         1982
Florida         54090
Georgia         58073
Hawaii           6425
Idaho           82677
Illinois        55748
Indiana         36097
Iowa            55941
Kansas          81787
Kentucky        39650
Louisiana       44930
Maine           30920
Maryland         9891
Massachusetts    7826
Michigan        56817
Minnesota       79289
Mississippi     47296
Missouri        68995
Montana        145587
Nebraska        76483
Nevada         109889
New Hampshire    9027
New Jersey       7521
New Mexico     121412
New York        47831
North Carolina  48798
North Dakota    69273
Ohio            40975
Oklahoma        68782
Oregon          96184
Pennsylvania    44966
Rhode Island     1049
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
Virginia        39780
Washington      66570
West Virginia   24070
Wisconsin       54464
Wyoming         97203

In [4]:
women

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

In [5]:
USPersonalExpenditure

                    1940   1945   1950  1955 1960
Food and Tobacco    22.200 44.500 59.60 73.2 86.80
Household Operation 10.500 15.500 29.00 36.5 46.20
Medical and Health   3.530  5.760  9.71 14.0 21.10
Personal Care        1.040  1.980  2.45  3.4  5.40
Private Education    0.341  0.974  1.80  2.6  3.64

In [6]:
data()

Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

## Head and Tail <a name="head_tail"/>
[Jump to the Main Heading](#dataframe_basics)

In [7]:
head(state.x77, 10)

            Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama      3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska        365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona      2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas     2110      3378   1.9        70.66    10.1   39.9     65    51945
California  21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado     2541      4884   0.7        72.06     6.8   63.9    166   103766
Connecticut  3100      5348   1.1        72.48     3.1   56.0    139     4862
Delaware      579      4809   0.9        70.06     6.2   54.6    103     1982
Florida      8277      4815   1.3        70.66    10.7   52.6     11    54090
Georgia      4931      4091   2.0        68.54    13.9   40.6     60    58073

In [10]:
tail(state.x77, 10)

              Population Income Illiteracy Life Exp Murder HS Grad Frost Area
South Dakota    681      4167   0.5        72.08     1.7   53.3    172    75955
Tennessee      4173      3821   1.7        70.11    11.0   41.8     70    41328
Texas         12237      4188   2.2        70.90    12.2   47.4     35   262134
Utah           1203      4022   0.6        72.90     4.5   67.3    137    82096
Vermont         472      3907   0.6        71.64     5.5   57.1    168     9267
Virginia       4981      4701   1.4        70.08     9.5   47.8     85    39780
Washington     3559      4864   0.6        71.72     4.3   63.5     32    66570
West Virginia  1799      3617   1.4        69.48     6.7   41.6    100    24070
Wisconsin      4589      4468   0.7        72.48     3.0   54.5    149    54464
Wyoming         376      4566   0.6        70.29     6.9   62.9    173    97203

## Structure and Summary <a name="structure_summary"/>
[Jump to the Main Heading](#dataframe_basics)

In [11]:
str(state.x77)

 num [1:50, 1:8] 3615 365 2212 2110 21198 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" ...
  ..$ : chr [1:8] "Population" "Income" "Illiteracy" "Life Exp" ...

In [9]:
print(summary(state.x77))

   Population        Income       Illiteracy       Life Exp
 Min.   :  365   Min.   :3098   Min.   :0.500   Min.   :67.96
 1st Qu.: 1080   1st Qu.:3993   1st Qu.:0.625   1st Qu.:70.12
 Median : 2838   Median :4519   Median :0.950   Median :70.67
 Mean   : 4246   Mean   :4436   Mean   :1.170   Mean   :70.88
 3rd Qu.: 4968   3rd Qu.:4814   3rd Qu.:1.575   3rd Qu.:71.89
 Max.   :21198   Max.   :6315   Max.   :2.800   Max.   :73.60
     Murder          HS Grad          Frost             Area
 Min.   : 1.400   Min.   :37.80   Min.   :  0.00   Min.   :  1049
 1st Qu.: 4.350   1st Qu.:48.05   1st Qu.: 66.25   1st Qu.: 36985
 Median : 6.850   Median :53.25   Median :114.50   Median : 54277
 Mean   : 7.378   Mean   :53.11   Mean   :104.46   Mean   : 70736
 3rd Qu.:10.675   3rd Qu.:59.15   3rd Qu.:139.75   3rd Qu.: 81162
 Max.   :15.100   Max.   :67.30   Max.   :188.00   Max.   :566432

## Creating a DataFrame <a name="dataframe_creation"/>

[Jump to the Main Heading](#dataframe_basics)

In [14]:
days = c("Mon", "Tue", "Wed", "Thr", "Fri", "Sat", "Sun")
temps = c(runif(7, min=22, max=50))
rain = sample(c(TRUE, FALSE), 7, replace=TRUE)

# Create a sample dataframe
sample.df = data.frame(days, temps, rain)
sample.df

  days temps    rain
1 Mon  42.65094 FALSE
2 Tue  43.09041 FALSE
3 Wed  30.68260 FALSE
4 Thr  43.05910  TRUE
5 Fri  46.36578  TRUE
6 Sat  28.84725 FALSE
7 Sun  47.01940  TRUE

In [15]:
str(sample.df)

'data.frame':	7 obs. of  3 variables:
 $ days : chr  "Mon" "Tue" "Wed" "Thr" ...
 $ temps: num  42.7 43.1 30.7 43.1 46.4 ...
 $ rain : logi  FALSE FALSE FALSE TRUE TRUE FALSE ...

In [16]:
summary(sample.df)

     days               temps          rain
 Length:7           Min.   :28.85   Mode :logical
 Class :character   1st Qu.:36.67   FALSE:4
 Mode  :character   Median :43.06   TRUE :3
                    Mean   :40.25
                    3rd Qu.:44.73
                    Max.   :47.02

# Indexing and Selection <a name="indexing_selection"/>

[Jump to the Table of Contents](#table)

## Indexing <a name="indexing"/>

[Jump to the Main Header](#indexing_selection)

In [17]:
sample.df[1, ]

  days temps    rain
1 Mon  42.65094 FALSE

In [19]:
print(sample.df[, 1])

[1] "Mon" "Tue" "Wed" "Thr" "Fri" "Sat" "Sun"

In [20]:
print(sample.df[, 'rain'])

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE

## Selection <a name="selection"/>
[Jump to the Main Header](#indexing_selection)

In [23]:
sample.df[1:3, c("days", "temps")]

  days temps
1 Mon  42.65094
2 Tue  43.09041
3 Wed  30.68260

In [26]:
print(sample.df$days)

[1] "Mon" "Tue" "Wed" "Thr" "Fri" "Sat" "Sun"

In [27]:
print(sample.df$rain)

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE

In [29]:
subset(sample.df, subset=rain == TRUE)

  days temps    rain
4 Thr  43.05910 TRUE
5 Fri  46.36578 TRUE
7 Sun  47.01940 TRUE

In [31]:
subset(sample.df, subset=temps>45)

  days temps    rain
5 Fri  46.36578 TRUE
7 Sun  47.01940 TRUE

In [35]:
sorted.df = order(sample.df['temps'])
sample.df[sorted.df,]

Warning message in xtfrm.data.frame(x):
“cannot xtfrm data frames”

  days temps    rain
6 Sat  28.84725 FALSE
3 Wed  30.68260 FALSE
1 Mon  42.65094 FALSE
4 Thr  43.05910  TRUE
2 Tue  43.09041 FALSE
5 Fri  46.36578  TRUE
7 Sun  47.01940  TRUE

In [37]:
desc.df = order(-sample.df['temps'])
sample.df[desc.df,]

Warning message in xtfrm.data.frame(x):
“cannot xtfrm data frames”

  days temps    rain
7 Sun  47.01940  TRUE
5 Fri  46.36578  TRUE
2 Tue  43.09041 FALSE
4 Thr  43.05910  TRUE
1 Mon  42.65094 FALSE
3 Wed  30.68260 FALSE
6 Sat  28.84725 FALSE

# Overview of DataFrame Operations <a name="overview"/>

[Jump to the Table of Contents](#table)

## Creating a Dataframe <a name="create_dataframe"/>

[Jump to the main heading](#overview)

In [40]:
# Create an empty dataframe
empty = data.frame()
print(empty)

# Create Dataframe from vectors
c1 = c(floor(runif(10, min=20, max=100)))
c2 = c(floor(runif(10, min=-34, max=0)))
c3 = c(floor(runif(10, min=100, max=1000)))
c4 = sample(letters, 10, replace=TRUE)

c.df = data.frame(c1, c2, c3, c4)
print(c.df)

data frame with 0 columns and 0 rows
   c1  c2  c3 c4
1  42 -27 485  g
2  20 -31 494  u
3  81 -23 644  c
4  52  -7 708  x
5  40  -2 773  t
6  97  -3 963  h
7  94 -14 285  y
8  57 -16 307  a
9  27 -23 913  t
10 89 -13 417  v

## Reading and Writing a Dataframe <a name="read_write"/>

[Jump to the Main Heading](#overview)

In [43]:
# Read a csv
df = read.csv("../data/sample_files.csv")

# Write a csv
write.csv(sample.df, file="../data/dummy.csv")

## Getting the Information about the DataFrame <a name="info"/>

[Jump to the Main heading](#overview)

In [44]:
sample.df

  days temps    rain
1 Mon  42.65094 FALSE
2 Tue  43.09041 FALSE
3 Wed  30.68260 FALSE
4 Thr  43.05910  TRUE
5 Fri  46.36578  TRUE
6 Sat  28.84725 FALSE
7 Sun  47.01940  TRUE

In [45]:
print(nrow(sample.df)) # Outputs the number of rows in the dataframe

[1] 7

In [46]:
print(ncol(sample.df)) # Outputs the number of columns in the dataframe

[1] 3

In [47]:
print(colnames(sample.df)) # Outputs the column names of the dataframe

[1] "days"  "temps" "rain"

In [48]:
print(rownames(sample.df)) # Outputs the row names of the dataframe

[1] "1" "2" "3" "4" "5" "6" "7"

## Referencing Cells <a name="cell"/>

[Jump to the Main Heading](#overview)

In [51]:
print(sample.df[[2, 1]])

[1] "Tue"

In [52]:
print(sample.df[[2, 'days']])

[1] "Tue"

In [53]:
sample.df[[2, 'temps']] = 50
print(sample.df[[2, 'temps']])

[1] 50

## Adding Rows <a name="add_rows"/>

[Jump to the main heading](#overview)

In [56]:
c.df_new = rbind(c.df, c(100, -24, 19, "k"))
print(c.df_new)

    c1  c2  c3 c4
1   42 -27 485  g
2   20 -31 494  u
3   81 -23 644  c
4   52  -7 708  x
5   40  -2 773  t
6   97  -3 963  h
7   94 -14 285  y
8   57 -16 307  a
9   27 -23 913  t
10  89 -13 417  v
11 100 -24  19  k

## Adding Columns <a name="add_col"/>

[Jump to the Main Heading](#overview)

In [57]:
c.df_new = cbind(c.df_new, c5=sample(c("H", "T"), 11, replace=TRUE))
print(c.df_new)

    c1  c2  c3 c4 c5
1   42 -27 485  g  H
2   20 -31 494  u  T
3   81 -23 644  c  T
4   52  -7 708  x  H
5   40  -2 773  t  H
6   97  -3 963  h  T
7   94 -14 285  y  T
8   57 -16 307  a  T
9   27 -23 913  t  H
10  89 -13 417  v  H
11 100 -24  19  k  H

## Dealing with Missing Value <a name="miss_val"/>

[Jump to the Main Heading](#overview)

In [58]:
any(is.na(sample.df))

[1] FALSE

In [59]:
any(is.na(sample.df$temps))

[1] FALSE